.navbar {
    background: transparent;
    font-weight: bolder;
    z-index: 10;
}
.navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2rem;
}
.navbar-brand span {
    font-size: 22px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}
.navbar-brand img {
    width: 35px;
    height: 35px;
    object-fit: cover;
}
.navbar.black {
    background-color: #171717;
    transition: 0.8s ease-in-out;
}
.main-nav {
    margin-right: 2rem;
}
.main-nav .nav-item {
    display: inline-block;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}
.nav-item a {
    color: #ffffff !important;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}
.nav-item a:after {
    content: "";
    display: block;
    margin: auto;
    margin-top: 2px;
    height: 2px;
    width: auto;
    border-radius: 15px;
    background: transparent;
    transition: width 0.5s ease, background-color 0.5s ease;
}
.nav-item a:hover:after {
    width: auto;
    background: white;
}
.nav-item a.active:after {
    width: auto;
    background: white;
}
